.aakb-survey-consent-form a.form-submit:link {
  background-image: linear-gradient(#444443, #1E1E1F);
}

.aakb-survey-consent-form a.form-submit:hover {
  background-color: #1E1E1E;
  background-image: none;
}
